In [2]:
# visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumBarunGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) # 폰트 설정
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

# utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

# Model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import eli5
from eli5.sklearn import PermutationImportance

import random

In [3]:
train_path = '../data/interim/train_final_ver1.csv'
test_path = '../data/interim/test_final_ver1.csv'

df_train = pd.read_csv(train_path, index_col=0)
df_test = pd.read_csv(test_path, index_col=0)

In [4]:
bus_path = '../data/external/bus_feature.csv'
subway_path = '../data/external/subway_feature.csv'

df_bus = pd.read_csv(bus_path)
df_subway = pd.read_csv(subway_path)

display(df_bus)
display(df_subway)

           노드 ID  정류소번호           정류소명         X좌표        Y좌표 정류소 타입
0      100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1      100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2      100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3      100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4      100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
...          ...    ...            ...         ...        ...    ...
12579  124000334  25995          우성아파트  127.139338  37.550386   일반차로
12580  124000333  25996          우성아파트  127.140046  37.550643   일반차로
12581  124000332  25997           조일약국  127.123596  37.533630   일반차로
12582  124000331  25998           성내시장  127.125497  37.536155   일반차로
12583  124000330  25999    천호우체국.로데오거리  127.127337  37.540343   일반차로

[12584 rows x 6 columns]

     역사_ID   역사명      호선         위도          경도
0     9996    미사     5호선  37.560927  127.193877
1     9995    강일     5호선  37.557490  127.175930
2     4929  김포공항  김포골드라인  37.562360  126.801868
3     4928    고촌  김포골드라인  37.601243  126.770345
4     4927    풍무  김포골드라인  37.612488  126.732387
..     ...   ...     ...        ...         ...
763    154  종로5가     1호선  37.570926  127.001849
764    153  종로3가     1호선  37.570406  126.991847
765    152    종각     1호선  37.570161  126.982923
766    151    시청     1호선  37.565715  126.977088
767    150   서울역     1호선  37.556228  126.972135

[768 rows x 5 columns]

In [5]:
df_bus = df_bus.rename(columns={'X좌표' : 'bus_x', 'Y좌표' : 'bus_y'})
df_subway = df_subway.rename(columns={'위도' : 'sub_y', '경도' : 'sub_x'})

display(df_bus)
display(df_subway)

           노드 ID  정류소번호           정류소명       bus_x      bus_y 정류소 타입
0      100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1      100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2      100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3      100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4      100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
...          ...    ...            ...         ...        ...    ...
12579  124000334  25995          우성아파트  127.139338  37.550386   일반차로
12580  124000333  25996          우성아파트  127.140046  37.550643   일반차로
12581  124000332  25997           조일약국  127.123596  37.533630   일반차로
12582  124000331  25998           성내시장  127.125497  37.536155   일반차로
12583  124000330  25999    천호우체국.로데오거리  127.127337  37.540343   일반차로

[12584 rows x 6 columns]

     역사_ID   역사명      호선      sub_y       sub_x
0     9996    미사     5호선  37.560927  127.193877
1     9995    강일     5호선  37.557490  127.175930
2     4929  김포공항  김포골드라인  37.562360  126.801868
3     4928    고촌  김포골드라인  37.601243  126.770345
4     4927    풍무  김포골드라인  37.612488  126.732387
..     ...   ...     ...        ...         ...
763    154  종로5가     1호선  37.570926  127.001849
764    153  종로3가     1호선  37.570406  126.991847
765    152    종각     1호선  37.570161  126.982923
766    151    시청     1호선  37.565715  126.977088
767    150   서울역     1호선  37.556228  126.972135

[768 rows x 5 columns]

In [6]:
display(df_train)
display(df_test)

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,124000,개포6차우성,201712,언주로 3
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,123500,개포6차우성,201712,언주로 3
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,91500,개포6차우성,201712,언주로 3
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,130000,개포6차우성,201801,언주로 3
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,117000,개포6차우성,201801,언주로 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,혼합식,개별난방,서울특별시 은평구 구산동,59.94,12,11,1998,4.0,366.0,45515.0,0.0,126.905638,37.612962,20000,갈현현대,200707,서오릉로21길 36
1118818,혼합식,개별난방,서울특별시 은평구 구산동,59.94,25,10,1998,4.0,366.0,45515.0,0.0,126.905638,37.612962,20000,갈현현대,200708,서오릉로21길 36
1118819,혼합식,개별난방,서울특별시 은평구 구산동,84.83,31,20,1998,4.0,366.0,45515.0,0.0,126.905638,37.612962,28000,갈현현대,200708,서오릉로21길 36
1118820,혼합식,개별난방,서울특별시 은평구 구산동,84.83,15,8,1998,4.0,366.0,45515.0,0.0,126.905638,37.612962,29000,갈현현대,200709,서오릉로21길 36
1118821,복도식,개별난방,서울특별시 중구 묵정동,52.46,10,5,1981,1.0,122.0,7354.0,7354.0,127.000071,37.560706,13250,묵정,200701,서애로1길 34

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,아파트명,계약년월,도로명
0,계단식,개별난방,서울특별시 강남구 개포동,79.9700,26,5,1987,8.0,270.0,22637.0,4858.00,127.057210,37.476763,개포6차우성,202307,언주로 3
1,계단식,지역난방,서울특별시 강남구 개포동,108.2017,15,10,2021,2.0,232.0,44951.0,2724.46,127.056394,37.484892,개포더샵트리에,202308,개포로 311
2,혼합식,지역난방,서울특별시 강남구 개포동,161.0000,28,15,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,개포우성3차,202307,개포로 307
3,혼합식,지역난방,서울특별시 강남구 개포동,133.4600,10,14,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,개포우성3차,202308,개포로 307
4,혼합식,지역난방,서울특별시 강남구 개포동,104.4300,18,6,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,개포우성3차,202308,개포로 307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,혼합식,개별난방,서울특별시 중랑구 신내동,84.6500,19,13,2014,16.0,1402.0,190866.0,14171.00,127.106720,37.618870,신내우디안1단지,202307,신내역로1길 85
9268,혼합식,개별난방,서울특별시 중랑구 신내동,84.6200,25,12,2014,16.0,1402.0,190866.0,14171.00,127.106720,37.618870,신내우디안1단지,202307,신내역로1길 85
9269,혼합식,개별난방,서울특별시 중랑구 신내동,101.6500,27,12,2014,16.0,1402.0,190866.0,14171.00,127.106720,37.618870,신내우디안1단지,202308,신내역로1길 85
9270,혼합식,개별난방,서울특별시 중랑구 신내동,84.9400,2,18,2014,16.0,1402.0,190866.0,14171.00,127.106720,37.618870,신내우디안1단지,202309,신내역로1길 85
9271,혼합식,개별난방,서울특별시 중랑구 신내동,84.6500,4,13,2014,16.0,1402.0,190866.0,14171.00,127.106720,37.618870,신내우디안1단지,202309,신내역로1길 85

In [7]:
df_train['is_test'] = 0
df_test['is_test'] = 1
df_all = pd.concat([df_train, df_test])
df_all

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,124000.0,개포6차우성,201712,언주로 3,0
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,123500.0,개포6차우성,201712,언주로 3,0
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,91500.0,개포6차우성,201712,언주로 3,0
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,130000.0,개포6차우성,201801,언주로 3,0
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,117000.0,개포6차우성,201801,언주로 3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,혼합식,개별난방,서울특별시 중랑구 신내동,84.65,19,13,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202307,신내역로1길 85,1
9268,혼합식,개별난방,서울특별시 중랑구 신내동,84.62,25,12,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202307,신내역로1길 85,1
9269,혼합식,개별난방,서울특별시 중랑구 신내동,101.65,27,12,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202308,신내역로1길 85,1
9270,혼합식,개별난방,서울특별시 중랑구 신내동,84.94,2,18,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202309,신내역로1길 85,1
9271,혼합식,개별난방,서울특별시 중랑구 신내동,84.65,4,13,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202309,신내역로1길 85,1

In [8]:
display(df_bus.describe())
display(df_subway.describe())
display(df_all.describe())

              노드 ID         정류소번호         bus_x         bus_y
count  1.258400e+04  12584.000000  12584.000000  12584.000000
mean   1.131783e+08  14295.312460    126.984517     37.550560
std    6.964900e+06   6957.804578      0.086485      0.054734
min    1.000000e+08   1001.000000    126.721031     37.430537
25%    1.079002e+08   8780.750000    126.915837     37.502978
50%    1.139001e+08  14601.500000    126.992572     37.549841
75%    1.190003e+08  20511.250000    127.049804     37.589799
max    1.670006e+08  25999.000000    127.181760     37.690489

             역사_ID       sub_y       sub_x
count   768.000000  768.000000  768.000000
mean   2297.946615   37.509654  126.969929
std    1418.164103    0.151260    0.183336
min     150.000000   36.769502  126.441442
25%    1276.750000   37.470875  126.851355
50%    1955.500000   37.521240  126.993792
75%    3131.250000   37.575834  127.070481
max    9996.000000   37.948100  127.723792

,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,계약년월,is_test
count,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,250887.000000,251969.000000,2.519690e+05,2.518150e+05,1.128094e+06,1.128094e+06,1.118822e+06,1.128094e+06,1.128094e+06
mean,7.716028e+01,1.579966e+01,8.881412e+00,1.998791e+03,14.810871,1186.767436,1.619010e+05,1.904915e+05,1.269943e+02,3.755437e+01,5.799153e+04,2.014829e+05,8.219173e-03
std,2.936448e+01,8.722162e+00,5.989302e+00,9.358540e+00,17.682771,1197.452046,1.843113e+05,1.735029e+06,7.329411e-01,2.224538e-01,4.642602e+04,4.237691e+02,9.028635e-02
min,1.002000e+01,1.000000e+00,-4.000000e+00,1.961000e+03,1.000000,59.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+02,2.007010e+05,0.000000e+00
25%,5.965000e+01,8.000000e+00,4.000000e+00,1.992000e+03,5.000000,405.000000,5.366600e+04,0.000000e+00,1.269175e+02,3.750836e+01,3.050000e+04,2.011110e+05,0.000000e+00
50%,8.187000e+01,1.600000e+01,8.000000e+00,2.000000e+03,10.000000,768.000000,1.026240e+05,1.735000e+03,1.270199e+02,3.754750e+01,4.480000e+04,2.015080e+05,0.000000e+00
75%,8.496000e+01,2.300000e+01,1.200000e+01,2.005000e+03,17.000000,1622.000000,2.039040e+05,8.414210e+03,1.270675e+02,3.760063e+01,6.980000e+04,2.018050e+05,0.000000e+00
max,4.243200e+02,3.100000e+01,6.900000e+01,2.023000e+03,124.000000,9510.000000,9.591851e+06,3.159620e+07,1.271800e+02,3.768929e+01,1.450000e+06,2.023090e+05,1.000000e+00

In [9]:
df_all.columns

Index(['복도유형', '난방방식', '시군구', '전용면적', '계약일', '층', '건축년도', 'k-전체동수', 'k-전체세대수',
       'k-연면적', '건축면적', 'x', 'y', 'target', '아파트명', '계약년월', '도로명', 'is_test'],
      dtype='object')

In [10]:
df_all[(df_all['아파트명'] == '삼성') & (df_all['시군구'] == '서울특별시 종로구 평창동')]

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test
92239,계단식,개별난방,서울특별시 종로구 평창동,84.93,31,13,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,46000.0,삼성,201710,평창문화로 172,0
92240,계단식,개별난방,서울특별시 종로구 평창동,84.93,3,9,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,45700.0,삼성,201711,평창문화로 172,0
92241,혼합식,개별난방,서울특별시 종로구 평창동,59.97,27,4,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,34000.0,삼성,201711,평창문화로 171,0
92242,계단식,개별난방,서울특별시 종로구 평창동,84.98,13,3,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,40000.0,삼성,201712,평창문화로 172,0
92243,혼합식,개별난방,서울특별시 종로구 평창동,59.95,22,14,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,38800.0,삼성,201801,평창문화로 172,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115601,계단식,개별난방,서울특별시 종로구 평창동,84.93,27,6,1998,NaN,NaN,NaN,NaN,0.000000,0.000000,30700.0,삼성,200706,,0
1115602,계단식,개별난방,서울특별시 종로구 평창동,84.93,6,5,1998,NaN,NaN,NaN,NaN,0.000000,0.000000,25000.0,삼성,200707,,0
1115603,혼합식,개별난방,서울특별시 종로구 평창동,59.97,18,7,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,23000.0,삼성,200707,평창문화로 172,0
1115604,혼합식,개별난방,서울특별시 종로구 평창동,59.97,1,10,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,20000.0,삼성,200709,평창문화로 172,0
8945,혼합식,개별난방,서울특별시 종로구 평창동,59.97,9,12,1998,NaN,NaN,NaN,NaN,126.979915,37.611731,NaN,삼성,202307,평창문화로 172,1

## 평창 삼성아파트의 위도 경도가 0으로 기입되어있음.

    - 따라서 실제 위도 경도로 바꿔주기

In [11]:
df_all.loc[(df_all['아파트명'] == '삼성') & (df_all['x'] < 1), 'x'] = 126.9788
df_all.loc[(df_all['아파트명'] == '삼성') & (df_all['y'] < 1), 'y'] = 37.6133

In [12]:
df_all.describe()

,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,계약년월,is_test
count,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,250887.000000,251969.000000,2.519690e+05,2.518150e+05,1.128094e+06,1.128094e+06,1.118822e+06,1.128094e+06,1.128094e+06
mean,7.716028e+01,1.579966e+01,8.881412e+00,1.998791e+03,14.810871,1186.767436,1.619010e+05,1.904915e+05,1.269984e+02,3.755560e+01,5.799153e+04,2.014829e+05,8.219173e-03
std,2.936448e+01,8.722162e+00,5.989302e+00,9.358540e+00,17.682771,1197.452046,1.843113e+05,1.735029e+06,9.067939e-02,5.680886e-02,4.642602e+04,4.237691e+02,9.028635e-02
min,1.002000e+01,1.000000e+00,-4.000000e+00,1.961000e+03,1.000000,59.000000,0.000000e+00,0.000000e+00,1.267983e+02,3.743440e+01,3.500000e+02,2.007010e+05,0.000000e+00
25%,5.965000e+01,8.000000e+00,4.000000e+00,1.992000e+03,5.000000,405.000000,5.366600e+04,0.000000e+00,1.269175e+02,3.750840e+01,3.050000e+04,2.011110e+05,0.000000e+00
50%,8.187000e+01,1.600000e+01,8.000000e+00,2.000000e+03,10.000000,768.000000,1.026240e+05,1.735000e+03,1.270199e+02,3.754750e+01,4.480000e+04,2.015080e+05,0.000000e+00
75%,8.496000e+01,2.300000e+01,1.200000e+01,2.005000e+03,17.000000,1622.000000,2.039040e+05,8.414210e+03,1.270675e+02,3.760077e+01,6.980000e+04,2.018050e+05,0.000000e+00
max,4.243200e+02,3.100000e+01,6.900000e+01,2.023000e+03,124.000000,9510.000000,9.591851e+06,3.159620e+07,1.271800e+02,3.768929e+01,1.450000e+06,2.023090e+05,1.000000e+00

## 버스 좌표와 전체 데이터셋의 좌표를 통해 정류장과의 거리 피쳐 생성

In [13]:
df_bus

           노드 ID  정류소번호           정류소명       bus_x      bus_y 정류소 타입
0      100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1      100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2      100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3      100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4      100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
...          ...    ...            ...         ...        ...    ...
12579  124000334  25995          우성아파트  127.139338  37.550386   일반차로
12580  124000333  25996          우성아파트  127.140046  37.550643   일반차로
12581  124000332  25997           조일약국  127.123596  37.533630   일반차로
12582  124000331  25998           성내시장  127.125497  37.536155   일반차로
12583  124000330  25999    천호우체국.로데오거리  127.127337  37.540343   일반차로

[12584 rows x 6 columns]

In [14]:
import math

# 위경도를 이용해 두 지점간의 거리를 구하는 함수를 생성합니다.
def haversine_distance(lat1, lon1, lat2, lon2): # y1, x1, y2, x2
    radius = 6371.0

    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = radius * c
    return distance

In [15]:
bus_sample = df_bus.iloc[:10]
all_sample = df_all.iloc[:10]

display(bus_sample)
display(all_sample)

       노드 ID  정류소번호           정류소명       bus_x      bus_y 정류소 타입
0  100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1  100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2  100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3  100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4  100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
5  101000305   1006        서대문역사거리  126.966893  37.566137   중앙차로
6  100000380   1007   서울역사박물관.경희궁앞  126.970380  37.569135   중앙차로
7  100000379   1008   서울역사박물관.경희궁앞  126.970760  37.569515   중앙차로
8  100000384   1009            광화문  126.976357  37.570142   중앙차로
9  100000385   1010            광화문  126.978086  37.570217   중앙차로

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,124000.0,개포6차우성,201712,언주로 3,0
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,123500.0,개포6차우성,201712,언주로 3,0
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,91500.0,개포6차우성,201712,언주로 3,0
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,130000.0,개포6차우성,201801,언주로 3,0
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,117000.0,개포6차우성,201801,언주로 3,0
5,계단식,개별난방,서울특별시 강남구 개포동,79.97,11,1,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,130000.0,개포6차우성,201801,언주로 3,0
6,계단식,개별난방,서울특별시 강남구 개포동,79.97,19,2,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,139500.0,개포6차우성,201803,언주로 3,0
7,계단식,개별난방,서울특별시 강남구 개포동,54.98,5,5,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,107500.0,개포6차우성,201804,언주로 3,0
8,계단식,개별난방,서울특별시 강남구 개포동,79.97,28,3,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,145000.0,개포6차우성,201806,언주로 3,0
9,계단식,개별난방,서울특별시 강남구 개포동,54.98,9,3,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,112000.0,개포6차우성,201807,언주로 3,0

In [16]:
df_loc = df_all[['x', 'y']]
unique_loc = set()
for i in range(len(df_loc)):
    unique_loc.add((df_loc['x'].values[i], df_loc['y'].values[i]))

# len(unique_loc) - 5887

In [17]:
unique_list = list(unique_loc)

In [18]:
unique_x, unique_y = [], []
for i in range(len(unique_list)):
    x, y = unique_list[i]
    unique_x.append(x)
    unique_y.append(y)

In [19]:
unique_x

[126.9516695,
 127.0540147273029,
 127.04754234729876,
 126.90453540408564,
 127.040462,
 126.9780911,
 126.87209913171048,
 126.942148701351,
 127.0332882,
 127.0354867,
 126.8889704,
 126.9490413,
 127.0618732,
 127.05873,
 126.9133162,
 126.86346960780637,
 127.0275895,
 126.9339504,
 126.8571418,
 127.0705565,
 126.82748279768444,
 127.1224052,
 126.948372,
 126.9448801,
 126.9183568,
 126.9071609,
 126.9530377,
 127.047983,
 127.12077535,
 127.1437144,
 126.9111664,
 126.819535,
 126.9159733,
 126.9397339,
 127.0428551,
 126.8997497,
 126.9735558,
 127.0503904,
 127.0464339,
 126.94179,
 127.0386293,
 127.0341005,
 127.0345357,
 127.0310684,
 126.9174157,
 126.896786,
 127.070637,
 126.8822117,
 126.8462422,
 126.91308384422445,
 126.9509079,
 127.0168969,
 127.0503113,
 127.1122234,
 126.9427466,
 127.0204439,
 126.8659598,
 126.8280182,
 127.0322547,
 127.1247501,
 126.9534382,
 127.0701578,
 127.0569387,
 126.8479062,
 127.0493092,
 127.0707049,
 126.8576779,
 127.0657325,
 127.0390342,
 126.9173139,
 126.9503897,
 127.0711283,
 126.9188507,
 126.8417997,
 126.9150991,
 126.8345258,
 127.1355312,
 126.9607799,
 127.012987,
 127.0000187,
 126.891951,
 127.0563994,
 126.9883316,
 126.9301112,
 126.940992,
 126.9252646,
 126.94047179951956,
 127.0059114,
 126.8896261,
 127.0889756188934,
 126.9237578,
 126.928872,
 126.9267737,
 127.020169,
 127.0656,
 127.0751968,
 126.8616623,
 127.06503771307288,
 126.8353913772837,
 126.9332254,
 127.0105683,
 127.08671206688815,
 126.9166796,
 127.0011132,
 127.0747149,
 127.0422953,
 126.830638,
 127.144761,
 127.0161891,
 126.959507,
 127.0328542,
 126.9078966,
 127.0796909,
 127.004339,
 126.9031554,
 126.9117669,
 126.9146418,
 126.9338068,
 127.0813712,
 127.12143148839336,
 127.1396397,
 127.1466428,
 126.9544011,
 126.9271272,
 126.86543295919076,
 127.0120272,
 127.1070121,
 127.14876734402964,
 126.9676689,
 126.8523888,
 127.12937791556536,
 126.9681859,
 126.903760265,
 126.9596687,
 127.09454216294912,
 127.11278164792913,
 126.9449805,
 126.9269292,
 127.0963196,
 127.0071084,
 126.9109013,
 127.1046578,
 126.9967159,
 126.915404,
 127.0537751,
 126.9799154,
 127.1232086,
 126.8770602,
 127.05812,
 127.0469006,
 126.8422714,
 127.02915927630016,
 126.9483755,
 127.1245623441581,
 126.8851649,
 127.1778329,
 126.8601626,
 127.1303722,
 127.09465622696206,
 127.1339226,
 126.8835389,
 127.12707692780496,
 127.0581438,
 126.99154332849017,
 126.9478243,
 127.0032639,
 127.090805,
 126.9095382,
 126.8997511,
 127.0878591,
 127.0503569,
 126.9009518,
 126.9901215,
 127.044317,
 127.1032995,
 127.028445899926,
 126.8884173,
 127.0849882,
 126.8941383,
 126.9143037,
 127.0208746,
 126.87652690684358,
 126.9353118,
 126.9667533,
 126.9098325,
 126.881979,
 127.1309281,
 126.943988,
 126.9223463,
 127.14661032581398,
 127.0583961,
 127.0711450774422,
 127.069562,
 126.90744419954471,
 127.0504034,
 127.1168755,
 127.10249742,
 126.907719,
 126.9188633,
 127.0063463,
 127.05531,
 126.92124,
 127.0220277,
 126.9207464,
 126.9256903,
 126.8138593,
 127.11743171721416,
 126.8153687,
 126.9065164,
 126.9518159,
 127.0764756,
 127.0731058,
 127.0683208,
 127.1115539,
 127.0991871,
 127.0094956,
 126.9837759,
 127.0257879,
 126.9511569,
 126.9316895,
 126.9328323,
 127.1018712,
 126.9522291,
 126.9511799,
 127.1408073,
 126.9062727,
 126.9207013,
 126.8527292,
 127.0286935,
 127.027970717,
 127.0404768,
 127.0977866,
 127.0363208,
 126.8925886,
 126.828657497413,
 127.047077,
 126.9218426,
 126.9045485,
 127.0008605,
 127.1571159,
 127.086895,
 126.95296238695788,
 127.0506741,
 126.8978356,
 127.0117419,
 127.0110251,
 127.061308,
 127.1317471,
 127.0334078,
 126.969387,
 127.0218834,
 127.038633,
 127.0659591,
 127.127589,
 126.8418667,
 126.9068433,
 127.0016411,
 126.8652365,
 126.8880592,
 126.8874396,
 127.10222745,
 127.0741898,
 127.01459364935064,
 127.1254688,
 126.9221208,
 126.9601186,
 127.0489781,
 126.8548343,
 127.076252,
 127.1284568997774,
 126.8272011,
 126.8930278,
 127.06366,
 127.0755399,
 126.9440019,
 126.8134939,
 127.0255639,
 127.0462499,
 126.9087195,
 127.0700967,
 127.1057318,
 126.8365271,
 127.1006198,
 127.0815267,
 127.0595598,
 126.9246859,
 126.9012902,
 126.9063902,
 127.0189377,
 126.97585175439583,
 127.1271563,
 126.9081098,
 127.1156418928006,
 127.0780267,
 126.8753596587402,
 126.958559679,
 126.8551297,
 126.9163786,
 126.9243179,
 127.0341786,
 126.9472288,
 127.0774401,
 126.8137232,
 126.9110064,
 126.8155998,
 127.0416715,
 126.87208618171374,
 127.033767,
 126.8858993,
 127.0276422,
 127.0741465,
 126.9606801,
 127.0274358,
 127.0472881,
 126.9122174,
 127.0015304,
 126.974144,
 127.0450926,
 126.9894815,
 127.0713059,
 126.8158189,
 126.9406099,
 127.0060638,
 126.91082161704968,
 126.83563430470372,
 127.05273582415842,
 127.0538244,
 126.84119411583578,
 126.8480726,
 127.1383836,
 126.8970039,
 127.0728807,
 127.0264671,
 127.0229442,
 126.82331312303252,
 127.0267479,
 126.8447718,
 126.9490269,
 127.0276682,
 126.941925,
 126.9159772,
 127.1362252,
 127.0651538150413,
 126.8750352,
 127.0199592,
 126.9019711,
 127.0561311,
 127.1243638,
 127.0697787,
 127.08966435958904,
 127.00589,
 127.0350046,
 127.0268547,
 127.0472661,
 127.0340619,
 127.1199025,
 126.8184548,
 127.0832811,
 127.0371919,
 126.8467216,
 127.0348533,
 127.0168545,
 127.0890751,
 127.0445064,
 127.1396844,
 127.0389197,
 127.1220389,
 126.8669678680874,
 126.937095,
 126.912343994,
 126.8618791,
 126.9245776,
 127.07254714919864,
 127.079217,
 127.0775322,
 127.0599616,
 126.942138,
 126.862097,
 126.863838,
 126.9767321,
 126.9020362,
 126.90031284671576,
 126.8956509,
 127.10027557666896,
 126.9684677,
 127.0125573,
 126.8924994810484,
 126.89830777228684,
 127.0105924,
 127.0215535,
 127.1340947,
 127.0439797,
 127.0273321,
 127.0616329,
 126.8372616,
 127.0451747,
 127.0651123,
 126.9788,
 126.91179752702558,
 126.9649658363074,
 126.9127807,
 126.9199137,
 127.07427730864003,
 127.0522403,
 126.9124856,
 127.0507602,
 127.0886787,
 127.0486905,
 126.8887983,
 126.8703148,
 126.9845274,
 127.0126053,
 126.984407,
 126.8448771,
 127.0345406,
 126.9654458,
 126.9308974,
 127.04267964893666,
 127.12874065259834,
 127.1235936,
 126.9636589,
 127.0177545,
 127.0948893,
 127.0416363,
 126.84481452091998,
 126.91647357148436,
 126.9201272,
 127.15188449544024,
 127.0441761,
 127.1416805,
 126.9324977,
 127.0678006,
 127.0381246,
 126.90528561740018,
 126.8395928,
 126.8462892,
 126.9441294,
 127.1170894,
 126.8294991,
 127.1302639,
 127.0816833,
 126.8836226,
 126.943490758,
 127.0325763,
 127.0196163,
 127.0194877,
 126.867246,
 127.0442398,
 126.9166,
 127.075241,
 127.1321342,
 127.0897254,
 126.8995168067168,
 126.8562941,
 127.0393754,
 126.9971987,
 127.05668,
 126.9266631,
 127.0632828,
 127.1331875,
 126.82216583994176,
 127.0642937,
 126.8428834,
 126.9734493,
 127.0011983,
 126.9487751,
 126.8817971,
 126.9074454,
 127.06096310839598,
 126.86725071694656,
 126.952793579557,
 126.8531846,
 127.1432587,
 126.9558549,
 127.0256245,
 126.9450788,
 127.065351,
 127.0704906,
 126.87150843004665,
 127.1192473,
 127.1407649,
 127.0771973,
 126.8153009,
 126.8412063,
 127.0427523,
 127.0375124,
 127.0167226,
 127.0522242,
 127.0441508,
 126.9039286,
 127.06415056,
 126.8365626,
 127.0194806,
 127.0542161,
 126.9794545,
 126.947802,
 126.9403191,
 126.8990736,
 126.9564342,
 127.0586197,
 126.9920756,
 126.913185,
 127.0210055,
 127.0587649,
 126.9170589,
 127.0268443,
 127.0278351,
 127.0393374,
 127.12251010643932,
 126.864038,
 126.9330114,
 126.8705162,
 126.9066794,
 126.9287975,
 126.9318629,
 127.09637545643132,
 127.1691358,
 127.0191194,
 127.1414484,
 126.9123808,
 126.9237986,
 126.89027,
 127.0549657652002,
 127.015508,
 127.0439564,
 126.9865215,
 127.0172476,
 126.911963367,
 127.0914096,
 126.820976,
 127.0526156,
 126.8399209,
 126.9605744,
 127.0193227,
 126.8948308,
 127.0792626,
 126.9109255739774,
 126.9139748,
 126.9884496,
 126.9552553,
 127.0132853,
 127.0308164,
 127.0339614,
 127.08776011315592,
 127.084593,
 127.0307131,
 127.0004955,
 127.0812629,
 127.06833,
 127.0523051319176,
 127.04780094794968,
 127.0461059,
 126.9081221,
 126.915532,
 126.8867304,
 127.02653424726832,
 127.11972685482549,
 126.9980379,
 127.0893389384342,
 127.089687,
 126.8279749,
 126.8934668,
 127.0562488,
 127.0402093,
 126.9063355,
 126.8429426,
 127.0295416,
 126.9446648,
 126.97851610056624,
 127.0033531,
 126.8152374,
 127.0381359,
 127.0263783,
 127.0775593,
 126.9145218,
 126.8571227,
 127.0841304,
 127.04876865,
 127.06791474707948,
 127.0008117,
 127.0336344,
 127.10927513,
 127.0481189,
 126.8874244,
 126.8608343,
 127.1285974,
 127.0522174,
 126.8828288,
 127.0397707,
 127.03233,
 127.0790041,
 127.0521689,
 126.9839965,
 127.1320443,
 126.9219256,
 126.8207344,
 126.9040453,
 126.9254573,
 127.0898404,
 127.12377,
 126.8315087,
 126.8497,
 127.0424568,
 126.9473517,
 127.0065037,
 126.9092409,
 126.950516,
 127.0458002,
 127.0849564,
 127.0858978,
 127.0133366,
 127.0767334,
 126.8221909,
 127.0533383,
 126.9335068,
 126.8445763,
 127.0204822,
 126.8760577,
 126.8655746,
 126.83583720858988,
 126.90051228975322,
 127.0038012,
 126.8668736,
 126.9241097,
 126.9043875,
 127.054031,
 127.0347032,
 126.9248114,
 126.905582,
 127.06108,
 126.9890615,
 126.87669080366706,
 127.1592193,
 126.90776252405192,
 127.0238794,
 127.1586603385089,
 126.9343302,
 126.8684009,
 127.0266388,
 126.9605419,
 126.8402448,
 126.9865185,
 126.9595498,
 126.8435576,
 127.05575893903207,
 127.04479322651014,
 126.9243031,
 126.9100994,
 126.9237976,
 126.95619975311776,
 127.01693260602208,
 127.0375977,
 127.0636584,
 126.924258,
 126.9449644,
 127.0864389,
 126.8644412,
 126.9945382,
 126.8311063,
 126.9568135,
 127.0562046,
 127.101704398,
 127.0315232,
 127.0781787,
 126.9244758,
 127.1367936,
 127.05306001298676,
 127.0937283,
 127.0405319,
 127.0249963,
 127.0219199,
 126.808835,
 127.1287418,
 126.9252666,
 126.94759781023538,
 126.8201124,
 127.0134913,
 126.9104233,
 126.904938,
 127.0648724,
 127.101821,
 127.0673627,
 126.87351177201695,
 126.906002,
 127.0136445,
 127.0605233649002,
 127.0273733,
 126.9229235,
 127.0258544,
 126.9812106,
 127.0914234,
 127.0680943,
 127.0135648,
 127.1140206,
 127.1701309,
 126.9152973,
 127.0311587,
 127.0682274,
 127.1209271,
 127.06893496668346,
 126.9059474,
 126.9250951,
 126.93006671262026,
 127.0348286,
 127.0251072,
 127.1027979,
 127.05363002560506,
 127.0549653,
 127.038567,
 126.9430449,
 126.8526287607374,
 127.0711083,
 127.086295,
 127.05983484040914,
 126.9500872,
 126.9395,
 127.12221980096352,
 127.09655504021566,
 126.8606426,
 126.8476176,
 127.0340874,
 126.8766536,
 127.04845222171116,
 126.8489889,
 126.8378891,
 127.1250872,
 126.9232265,
 127.0614772,
 127.0691624,
 126.8688319,
 127.09615347588088,
 126.9988315,
 127.134802,
 127.1449279,
 126.856133,
 126.906936,
 127.020856,
 126.8652485,
 126.9677701,
 127.0518593,
 127.0132021,
 126.8589126,
 126.9224784,
 126.907035,
 126.96217742850834,
 126.9765702,
 126.9730576,
 127.0513461,
 127.0746595,
 126.9702595,
 126.9630898,
 126.8725564,
 127.0485745,
 126.8955945,
 127.1403289,
 127.0245563,
 127.0435851,
 126.94504675022505,
 126.8579274501009,
 127.1326518,
 127.0312038,
 126.892796,
 127.031717,
 126.8071596,
 127.05241054674988,
 126.8110386,
 126.9993891,
 127.0883533,
 127.1303284,
 126.8384226,
 127.0213713,
 126.83272269678372,
 127.0815445,
 126.9271809,
 126.99831,
 127.064956942,
 126.94981452072712,
 126.9455286,
 126.9613198982143,
 127.0314625,
 127.1325076,
 126.9230887,
 126.9715597,
 127.0198531,
 127.1271079,
 127.1731,
 127.046277,
 127.1306229,
 127.02015,
 127.0752928,
 126.9591715,
 127.0418438,
 126.9293302,
 127.0316355,
 126.9316877,
 126.838587,
 126.8146373,
 126.900158,
 126.9119173,
 126.9898738,
 127.0644439,
 126.9291228,
 126.8819096,
 126.9446740953632,
 127.1011882,
 126.9590128,
 127.1020462,
 127.085956,
 127.0654025,
 127.0405861,
 127.05231303536286,
 127.0853507,
 127.0742104,
 126.9859806,
 127.0610072,
 127.0420792,
 127.0374711,
 126.950472217,
 127.0342,
 127.0077138,
 127.0640701,
 127.131909,
 127.0784143,
 126.8100176,
 127.1231141,
 126.9514412,
 126.831595,
 126.8602413,
 126.8373193,
 126.840034,
 127.051161,
 126.9608583,
 127.0198584,
 127.0102751,
 127.0548687,
 126.9377117,
 126.8481278,
 126.9526376,
 126.8693341,
 127.1415305,
 127.0266385,
 127.0367693,
 127.1239244,
 126.9795958,
 126.9479871,
 127.0753356,
 126.8649971,
 126.8670796,
 126.9591333,
 127.0333044,
 127.05402,
 127.060832,
 127.0150625,
 127.1437579,
 126.9913502,
 127.0237751,
 127.0791291,
 126.9317229,
 127.1187523,
 126.9219053,
 126.8935001,
 126.9295206,
 127.0135134,
 127.0650701,
 127.06178715,
 127.122979,
 127.0070009,
 127.0251807,
 126.9226626,
 126.9011162,
 127.0103316,
 126.9328191,
 126.8964119,
 127.0206277,
 126.9338108,
 126.8468136,
 127.0121808,
 126.9667706,
 126.9632382,
 126.9138727,
 127.0079084,
 126.9342532,
 126.9494989,
 126.868473601,
 127.0232765,
 126.9830112,
 126.9303675,
 127.1049349,
 126.8345265,
 126.9225555,
 127.1432388,
 127.13805128,
 126.872001,
 127.0248131,
 127.0223133,
 126.9024325,
 126.9393996,
 127.0683308,
 126.9224122,
 127.03534065,
 126.9294704,
 127.0554815,
 126.9031539,
 126.9015317,
 126.96886919109448,
 127.0500559,
 127.0163536519984,
 127.057759,
 127.0873322,
 126.8392743,
 127.1347143,
 127.1264298,
 127.135793,
 126.9734668,
 126.918149868075,
 127.0091711,
 126.9551755,
 127.1705288,
 126.9268481,
 127.0553583,
 126.9510618,
 126.9563217,
 126.9940306,
 127.0855891,
 127.0143891,
 127.1273993,
 126.8314302,
 126.9134295,
 127.0917016,
 127.0815607610279,
 127.069104,
 127.0335201,
 127.0884542,
 126.9173657,
 127.048597,
 126.83454547790802,
 127.0493695,
 126.8616077,
 126.942141,
 126.953014,
 127.1117673,
 126.9847914,
 126.8543104316864,
 127.1283016,
 127.0593575,
 126.9525291,
 127.055655651,
 126.9077927,
 127.0833132,
 127.135683,
 126.9402045,
 127.0187248,
 127.0301477,
 126.8598027,
 127.0320501,
 126.90835,
 127.0330304,
 126.962866,
 127.1277229,
 126.9532505,
 127.0784092,
 126.9729911,
 127.0600402,
 126.9334082,
 126.8532352,
 126.9276187,
 126.94085279904562,
 127.1243522,
 127.076724,
 126.9214359,
 126.8129782,
 127.0393615,
 127.0623478,
 126.83648318221026,
 126.82371240192354,
 126.9531503,
 127.0724683,
 126.8985593,
 127.04024,
 126.91329558842644,
 127.0295935,
 126.9473371,
 126.9431208,
 126.9012758,
 126.9154681,
 127.0095599,
 127.0657237,
 126.9283806,
 127.1281203,
 127.13608961670168,
 126.9497064,
 127.12812451550798,
 126.9077318,
 127.0396712,
 126.85002,
 126.8843594,
 126.84065095621646,
 126.8439563,
 126.9591671,
 126.9260648,
 ...]

In [20]:
ser_x = pd.Series(unique_x)
ser_y = pd.Series(unique_y)
display(ser_x)
display(ser_y)

0       126.951669
1       127.054015
2       127.047542
3       126.904535
4       127.040462
           ...
5882    127.033902
5883    127.057734
5884    126.918684
5885    126.894966
5886    127.044834
Length: 5887, dtype: float64

0       37.480261
1       37.489476
2       37.583577
3       37.589763
4       37.590592
          ...
5882    37.486772
5883    37.539845
5884    37.526537
5885    37.513878
5886    37.625137
Length: 5887, dtype: float64

In [21]:
df_loc = pd.DataFrame({'x' : ser_x, 'y' : ser_y})
df_loc

               x          y
0     126.951669  37.480261
1     127.054015  37.489476
2     127.047542  37.583577
3     126.904535  37.589763
4     127.040462  37.590592
...          ...        ...
5882  127.033902  37.486772
5883  127.057734  37.539845
5884  126.918684  37.526537
5885  126.894966  37.513878
5886  127.044834  37.625137

[5887 rows x 2 columns]

In [22]:
display(df_bus)
display(df_loc)

           노드 ID  정류소번호           정류소명       bus_x      bus_y 정류소 타입
0      100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1      100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2      100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3      100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4      100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
...          ...    ...            ...         ...        ...    ...
12579  124000334  25995          우성아파트  127.139338  37.550386   일반차로
12580  124000333  25996          우성아파트  127.140046  37.550643   일반차로
12581  124000332  25997           조일약국  127.123596  37.533630   일반차로
12582  124000331  25998           성내시장  127.125497  37.536155   일반차로
12583  124000330  25999    천호우체국.로데오거리  127.127337  37.540343   일반차로

[12584 rows x 6 columns]

               x          y
0     126.951669  37.480261
1     127.054015  37.489476
2     127.047542  37.583577
3     126.904535  37.589763
4     127.040462  37.590592
...          ...        ...
5882  127.033902  37.486772
5883  127.057734  37.539845
5884  126.918684  37.526537
5885  126.894966  37.513878
5886  127.044834  37.625137

[5887 rows x 2 columns]

In [23]:
bus_sample = df_bus.iloc[:10]
loc_sample = df_loc.iloc[:10]

display(bus_sample)
display(loc_sample)

       노드 ID  정류소번호           정류소명       bus_x      bus_y 정류소 타입
0  100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1  100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2  100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3  100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4  100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
5  101000305   1006        서대문역사거리  126.966893  37.566137   중앙차로
6  100000380   1007   서울역사박물관.경희궁앞  126.970380  37.569135   중앙차로
7  100000379   1008   서울역사박물관.경희궁앞  126.970760  37.569515   중앙차로
8  100000384   1009            광화문  126.976357  37.570142   중앙차로
9  100000385   1010            광화문  126.978086  37.570217   중앙차로

            x          y
0  126.951669  37.480261
1  127.054015  37.489476
2  127.047542  37.583577
3  126.904535  37.589763
4  127.040462  37.590592
5  126.978091  37.481291
6  126.872099  37.538179
7  126.942149  37.505792
8  127.033288  37.609448
9  127.035487  37.576978

In [24]:
def get_bus_min_dist(df1, df2): # 거리 차이를 계산할 데이터 프레임 --> 전체 데이터, 버스 or 지하철 데이터
    min_dist = []
    for i in range(len(df1)):
        x, y = df1['x'].values[i], df1['y'].values[i]
        dist = []
        for j in range(len(df2)):
            tar_x, tar_y = df2['bus_x'].values[j], df2['bus_y'].values[j]
            harv_dist = haversine_distance(y, x, tar_y, tar_x)
            dist.append(harv_dist)
        min_dist.append(min(dist))

    return min_dist

In [25]:
bus_dist = []
for i in range(len(loc_sample)):
    x, y = loc_sample['x'].values[i], loc_sample['y'].values[i]
    temp = []
    for j in range(len(bus_sample)):
        bus_x, bus_y = bus_sample['bus_x'].values[j], bus_sample['bus_y'].values[j]
        harv_dist = haversine_distance(y, x, bus_y, bus_x)
        temp.append(harv_dist)
    bus_dist.append(min(temp))

print(bus_dist)

[9.64284860789448, 10.566669054415284, 4.046458141171095, 6.090913311687588, 3.4456297446204127, 9.486000579988003, 8.916113257314377, 7.055862186941602, 3.7922297364627693, 3.1468429737774706]

In [26]:
bus_min_dist = get_bus_min_dist(df_loc, df_bus)

In [27]:
df_loc['bus_min_dist'] = bus_min_dist
display(df_loc)

               x          y  bus_min_dist
0     126.951669  37.480261      0.066548
1     127.054015  37.489476      0.139641
2     127.047542  37.583577      0.116220
3     126.904535  37.589763      0.140379
4     127.040462  37.590592      0.067162
...          ...        ...           ...
5882  127.033902  37.486772      0.058074
5883  127.057734  37.539845      0.177540
5884  126.918684  37.526537      0.030601
5885  126.894966  37.513878      0.035820
5886  127.044834  37.625137      0.019918

[5887 rows x 3 columns]

In [28]:
display(df_all)

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,124000.0,개포6차우성,201712,언주로 3,0
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,123500.0,개포6차우성,201712,언주로 3,0
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,91500.0,개포6차우성,201712,언주로 3,0
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,130000.0,개포6차우성,201801,언주로 3,0
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.05721,37.476763,117000.0,개포6차우성,201801,언주로 3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9267,혼합식,개별난방,서울특별시 중랑구 신내동,84.65,19,13,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202307,신내역로1길 85,1
9268,혼합식,개별난방,서울특별시 중랑구 신내동,84.62,25,12,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202307,신내역로1길 85,1
9269,혼합식,개별난방,서울특별시 중랑구 신내동,101.65,27,12,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202308,신내역로1길 85,1
9270,혼합식,개별난방,서울특별시 중랑구 신내동,84.94,2,18,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202309,신내역로1길 85,1
9271,혼합식,개별난방,서울특별시 중랑구 신내동,84.65,4,13,2014,16.0,1402.0,190866.0,14171.0,127.10672,37.618870,NaN,신내우디안1단지,202309,신내역로1길 85,1

In [29]:
df_bus = pd.merge(df_all, df_loc, how='inner')
display(df_bus)

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test,bus_min_dist
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,124000.0,개포6차우성,201712,언주로 3,0,0.061783
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,123500.0,개포6차우성,201712,언주로 3,0,0.061783
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,91500.0,개포6차우성,201712,언주로 3,0,0.061783
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,130000.0,개포6차우성,201801,언주로 3,0,0.061783
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,117000.0,개포6차우성,201801,언주로 3,0,0.061783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,복도식,개별난방,서울특별시 중랑구 신내동,49.77,22,7,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202307,신내로19길 42,1,0.053753
1128090,복도식,개별난방,서울특별시 중랑구 신내동,39.84,7,3,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202308,신내로19길 42,1,0.053753
1128091,혼합식,개별난방,서울특별시 중랑구 신내동,59.76,17,4,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202308,신내로19길 42,1,0.053753
1128092,복도식,개별난방,서울특별시 중랑구 신내동,39.84,2,9,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202309,신내로19길 42,1,0.053753
1128093,복도식,개별난방,서울특별시 중랑구 신내동,39.84,11,3,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202309,신내로19길 42,1,0.053753

In [32]:
bus_train = df_bus[df_bus['is_test'] == 0]
bus_test = df_bus[df_bus['is_test'] == 1]

display(bus_train)
display(bus_test)

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test,bus_min_dist
0,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,3,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,124000.0,개포6차우성,201712,언주로 3,0,0.061783
1,계단식,개별난방,서울특별시 강남구 개포동,79.97,22,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,123500.0,개포6차우성,201712,언주로 3,0,0.061783
2,계단식,개별난방,서울특별시 강남구 개포동,54.98,28,5,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,91500.0,개포6차우성,201712,언주로 3,0,0.061783
3,계단식,개별난방,서울특별시 강남구 개포동,79.97,3,4,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,130000.0,개포6차우성,201801,언주로 3,0,0.061783
4,계단식,개별난방,서울특별시 강남구 개포동,79.97,8,2,1987,8.0,270.0,22637.0,4858.0,127.057210,37.476763,117000.0,개포6차우성,201801,언주로 3,0,0.061783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126418,혼합식,개별난방,서울특별시 강동구 둔촌동,73.98,2,2,1995,NaN,NaN,NaN,NaN,127.141232,37.530097,23800.0,성원,200707,양재대로102가길 22,0,0.141061
1126419,혼합식,개별난방,서울특별시 강동구 둔촌동,73.98,25,11,1995,NaN,NaN,NaN,NaN,127.141232,37.530097,26000.0,성원,200709,양재대로102가길 22,0,0.141061
1126420,계단식,지역난방,서울특별시 서초구 반포동,84.07,30,5,1979,NaN,NaN,NaN,NaN,126.996770,37.499668,100000.0,미주,200708,신반포로16길 15-20,0,0.043369
1126421,혼합식,지역난방,서울특별시 송파구 송파동,74.04,7,10,1995,NaN,NaN,NaN,NaN,127.106904,37.509822,31000.0,호수임광,200705,송파대로48길,0,0.090750
1126422,계단식,지역난방,서울특별시 송파구 송파동,84.87,20,3,1995,NaN,NaN,NaN,NaN,127.106904,37.509822,59600.0,호수임광,200706,송파대로48길,0,0.090750

,복도유형,난방방식,시군구,전용면적,계약일,층,건축년도,k-전체동수,k-전체세대수,k-연면적,건축면적,x,y,target,아파트명,계약년월,도로명,is_test,bus_min_dist
101,계단식,개별난방,서울특별시 강남구 개포동,79.97,26,5,1987,8.0,270.0,22637.0,4858.00,127.057210,37.476763,NaN,개포6차우성,202307,언주로 3,1,0.061783
261,혼합식,지역난방,서울특별시 강남구 개포동,161.00,28,15,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,NaN,개포우성3차,202307,개포로 307,1,0.098282
262,혼합식,지역난방,서울특별시 강남구 개포동,133.46,10,14,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,NaN,개포우성3차,202308,개포로 307,1,0.098282
263,혼합식,지역난방,서울특별시 강남구 개포동,104.43,18,6,1984,5.0,405.0,63304.0,61064.24,127.055990,37.483894,NaN,개포우성3차,202308,개포로 307,1,0.098282
3669,복도식,지역난방,서울특별시 강남구 개포동,74.25,28,8,1983,6.0,940.0,93810.0,6524.00,127.068028,37.487802,NaN,개포주공5단지,202307,삼성로4길 17,1,0.131192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128089,복도식,개별난방,서울특별시 중랑구 신내동,49.77,22,7,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202307,신내로19길 42,1,0.053753
1128090,복도식,개별난방,서울특별시 중랑구 신내동,39.84,7,3,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202308,신내로19길 42,1,0.053753
1128091,혼합식,개별난방,서울특별시 중랑구 신내동,59.76,17,4,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202308,신내로19길 42,1,0.053753
1128092,복도식,개별난방,서울특별시 중랑구 신내동,39.84,2,9,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202309,신내로19길 42,1,0.053753
1128093,복도식,개별난방,서울특별시 중랑구 신내동,39.84,11,3,1996,NaN,NaN,NaN,NaN,127.093511,37.616533,NaN,신내6대주,202309,신내로19길 42,1,0.053753

In [33]:
bus_train.to_csv('../data/interim/bus_train.csv', index=False)
bus_test.to_csv('../data/interim/bus_test.csv', index=False)